<!DOCTYPE html>
<html>

  <head>
    <title>Example</title>
  </head>

  <body ng-app="testApp">
    <div ng-controller="TestCtrl">
      <ul>
        <li ng-repeat="emp in emps">
          {{emp.firstName}} {{emp.lastName}}
		  <span ng-hide="emp.onBench">{{emp.id}}</span>
        </li>
      </ul>
    </div>
	 <input type="text" ng-model="a">
	 
	 <hr>
    <div ng-switch="4">
		<span ng-switch-when="1">ashish</span>
		<span ng-switch-when="2">parma</span>
		<span ng-switch-when="3">kundan</span>
		<span ng-switch-when="4">kedar</span>
		<span ng-switch-when="5">rahul</span>
	</div>
   <a href="Specs.html">Specs</a>
    
    <script src="https://code.angularjs.org/1.5.6/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/TestCtrl.js"></script>
  </body>

</html>
